<h2 class="heading--sm text-center">Sign in to your account</h2>
<div class="form-section">

  <p class="content--xs overline text-center">Continue with</p>
  
  <div class="flex justify-center gap-16">
    <%= link_to "Github", "#", class: "btn btn--medium btn--secondary" %>
  </div>

  <p class="content--xs overline text-center">Or</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="input mb-16">
      <%= f.label :email, class:"content--xs overline"%>
      <div class= "input__container">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input__content" %>
      </div>
    </div>

    <div class="input mb-16">
      <%= f.label :password, class:"content--xs overline" %>
      <div class= "input__container">
        <%= f.password_field :password, autocomplete: "current-password", class: "input__content" %>
      </div>
    </div>

    <%= f.submit "Log in", class: "btn btn--primary" %>
  <% end %>

  <p class="content--sm text-center">Don't have an account?</p>
  <%= link_to "Create an acount", "#", class: "primary-500 text-center" %>
</div>
