<h2 class="heading--sm text-center">Sign in to your account</h2>
<div class="form-section">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <div class="gh_container mb-16">
      <p class="content--xs overline text-center">Continue with</p>
    
      <%= link_to "Github", user_github_omniauth_authorize_path, method: :post, class: "btn btn--secondary" %>

      <p class="content--xs overline text-center">Or</p>
    </div>

    <div class="input mb-16">
      <%= f.label :email, class:"content--xs overline"%>
      <div class= "input__container">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@mail.com", class: "input__content" %>
      </div>
    </div>

    <div class="input mb-16">
      <%= f.label :password, class:"content--xs overline" %>
      <div class= "input__container">
        <%= f.password_field :password, autocomplete: "current-password", placeholder:"********", class: "input__content" %>
      </div>
    </div>

    <%= f.submit "Log in", class: "btn btn--primary bt--medium" %>
  <% end %>

  <p class="content--sm text-center">Don't have an account?</p>
  <%= link_to "Create an account", new_user_registration_path, class: "primary-500 text-center" %>
</div>
